*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:sans-serif;
    color:white;
    background:linear-gradient(  rgb(62, 62, 62), rgb(190, 190, 190));
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    margin-left:20px;
}
nav{
    width:250px;
    display: flex;
    justify-content: space-around;
   margin-right: 20px;
 
}
nav a{
    margin:auto 5px;
    text-decoration:none;
    color:white;
}
nav a:hover{
    margin:auto 5px;
    text-decoration:none;
    color:white;
    text-decoration: underline;
}
.hero{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    height: 100vh;
}
.hero img{
    width:500px;

}
.start-now-btn{
    width:150px;
    height:50px;
    background:white;
    border:0;
    outline:0;
    border-radius:30px;
    cursor: pointer;
    font-size:15px;
    margin-top:60px;
}
.start-now-btn:hover{
    opacity:0.7;

}

.muscle img{
    width:300px;
    margin-top:-80px;   
}
.muscle-part{
    position: relative;
}
    .shoulder{
    width:100px;
    height: 30px;
    position:absolute;
    top:0;
    left:103px;
    clip-path:polygon(/*tl*/26.2% 33%,/*tr*/ 67% 0%,72% 12%,80% 24%,90% 39%,96% 58%,/*br*/98.5% 81%,/*bl*/4% 95%, 7.5% 80%,9%  75% )
    }
   
    .chest{
        height:55px;
        width:95px;
        /* border:1px solid black; */
        position:absolute;
        top:26px;
        left:90px;
        clip-path: polygon(/*tl*/3% 50%,12% 28%,27% 4%,/*tr*/89% 0%,86% 8%,88% 20%,92% 35%,98% 60%,/*br*/100% 68%,96% 77%,90% 87%,85% 92%,80% 95%,70% 95%,55% 90%,45% 82%,44% 70%,40% 78%,33% 88%,23% 97%,15% 99%,/*bl*/12% 100%,6.7% 90%,5% 80%,2% 60%);
    }
    .shoulder:hover,.chest:hover{
        background: linear-gradient(to right,rgba(17, 255, 0, 0.315),rgba(224, 152, 152, 0),rgba(0, 255, 55, 0.484));
    }